<launch>
  <!-- send elektron.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find elektron_defs)/robots/elektron.udrf.xacro'" />

  <node name="tf_laser_link" pkg="tf" type="static_transform_publisher" args="0 0 0.3 0 0 0 base_link base_laser_link 40" />

  <!-- load controllers -->
  <node name="elektron" pkg="elektron_base" type="elektron_base_node" respawn="true" output="screen">
    <param name="device" type="string" value="/dev/ttyUSB0" />
  </node>

  <node name="base_laser" pkg="LMS1xx" type="LMS100" respawn="true" output="screen">
    <param name="host" type="string" value="192.168.1.2" />
    <param name="frame_id" type="string" value="base_laser_link" />
  </node>
</launch>

