<launch>	
	<!-- Laptop battery monitor -->
	<node name="laptop_battery" pkg="elektron_monitor" type="laptop_battery.py"/>
	
	<node name="wifi_monitor" pkg="elektron_monitor" type="wifi_monitor.py"/>
	
	<node name="cpu_monitor" pkg="elektron_monitor" type="cpu_monitor.py"/>
	
	<node name="main_battery" pkg="elektron_monitor" type="main_battery.py" output="screen">
		<param name="device" type="string" value="/dev/ttyUSB0"/>
		
		<param name="play_music" type="bool" value="true"/>
		<param name="snd_low" value="$(find elektron_monitor)/sounds/power_low.wav"/>
		<param name="snd_critical" value="$(find elektron_monitor)/sounds/power_critical.wav"/>
		<param name="snd_plugin" value="$(find elektron_monitor)/sounds/plugin.wav"/>
		<param name="snd_plugout" value="$(find elektron_monitor)/sounds/plugout.wav"/>
	</node>
	
	<!-- Prepare diagnostic_aggregator and load it's analyzers -->
	<node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
		<rosparam command="load" file="$(find elektron_monitor)/config/diagnostics.yaml" />
	</node>
</launch>