<launch>
	
	<include file="$(find elektron_bringup)/launch/elektron_base.launch" />
	<include file="$(find elektron_bringup)/launch/elektron_sensors.launch" />
	<include file="$(find elektron_bringup)/launch/elektron_diagnostics.launch" />
	<include file="$(find elektron_bringup)/launch/elektron_ekf.launch" />

</launch>