<launch>
  <param name="camera/rgb/image_color/compressed/jpeg_quality" value="22"/>

  <include file="$(find elektron_bringup)/launch/kinect.launch">
    <arg name="rgb_processing" value="true" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
  </include>

  <!-- Make a slower camera feed available. -->
  <node pkg="topic_tools" type="throttle" name="camera_throttle" output="screen"
        args="messages camera/rgb/image_color/compressed 5"/>

</launch>
